* {
  padding: 0;
  margin: 0;
  font-family: "Montserrat";
}

/*HEADER*/
header img {
  width: 90px;
  height: auto;
  padding: 10px;
}

.nav-icon img {
  width: 40px;
  height: auto;
  display: block;
  cursor: pointer;
}

/*BIOGRAFIA*/
.biografia {
  height: 100vh;
  background-image: url(./assets/fondo.jpg);
}

section h2 {
  color: black;
  text-align: center;
  padding-top: 150px;
  font-weight: 700;
}

.descripcion {
  color: black;
  margin-left: 20px;
  padding-left: 250px;
  padding-right: 250px;
  text-align: center;
  font-weight: 500;
}

/*PROYECTOS*/

.proyectos {
  height: 100vh;
}

section h3 {
  color: black;
  text-align: center;
  font-weight: 600;
  margin-top: 30px;
  margin-bottom: 20px;
}

.conteiner-proyectos {
  display: grid;
  grid-template-columns: repeat(auto-fill, minmax(300px, 1fr));
  gap: 20px;
  margin-left: 25px;
}

/*FORMACION*/
.formacion {
  height: 100vh;
}

.conteiner-formacion {
  display: grid;
  grid-template-columns: repeat(auto-fill, minmax(300px, 1fr));
  gap: 20px;
  margin-left: 25px;
}

/*CONTACTO*/
.contacto {
  height: 100vh;
  margin-left: 25px;
  margin-right: 25px;
}

/* BOTON */
.btn-arriba {
  position: fixed;
  bottom: 20px;
  right: 20px;
  width: 50px;
  height: 50px;
  background-color: #b1c7bb;
  color: white;
  text-align: center;
  line-height: 50px;
  border-radius: 50%;
  text-decoration: none;
  font-size: 20px;
  font-weight: bold;
  z-index: 1000;
  border: 1px solid black;
}

.btn-arriba:hover {
  background-color: #307ac9;
}

/*FOOTER*/
/*Footer*/
footer {
  background-color: black;
  color: white;
  text-align: center;
  padding: 20px;
}